@page
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Todo.Web.Pages.TeamTasksModel
@{
    ViewData["Title"] = "Team Tasks";
}

<div class="container">
    @if (Model.Todos.Count == 0)
    {
        <h1 class="text-center">There are no tasks yet, please make one!</h1>
    }
    else
    {
        <h1>Personal tasks for completion</h1>
        <div class="row">
            @foreach (var todo in Model.Todos)
            {
                <div class="col-sm-4">
                    <div class="card mt-4">
                        <div class="card-body text-center ">
                            <h5 class="card-title">@todo.Title</h5>
                            <p class="card-text">
                                @if (@todo.Description.Length > 51)
                                {
                                    @todo.Description.Substring(0, 50)
                                    ;

                                }
                                else
                                {
                                    @todo.Description
                                    ;
                                }
                            </p>
                            @*add in categories*@
                            <a asp-page="./View" asp-route-Id="@todo.Id" class="btn btn-primary"><i class="bi bi-info-circle"></i> View</a>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
